body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(black, gray, white);
  color: #1e1e1f;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

